body {
  background-color: #284a7c;
}

.lomake {
    display: block;
    position: absolute;
    top: 40px;
    padding: 20px 50px 20px 0px;
    background-image: url("./paperi.webp");
    background-size: 100%;
    box-shadow: 15px 15px 15px #1d375e;
    font-weight: bold;
}

.kentta {
    display: flex;
    align-items: baseline;
  }
  
.kentta label {
  width: 120px;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}
  
.kentta1 {
  width: 180px;
}

.kentta2 {
  width: 400px;
}

.kentta3 {
  width: 100px;
}

.kentta4 {
  width: 210px;
}

#laskuri {
  position:absolute;
  right: 65px;
  bottom: 65px;
}

#viesti {
  font-family: Arial;
  font-size: .9em;
  width: 400px;
  height: 200px;
  min-width: 400px;
  max-width: 400px;
  max-height: 200px;
}

#nappi {
  display: block;
  margin: 20px 130px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px;
  font-size: 1.1em;
  font-weight: bold;
  transition-duration: .03s;
}

#nappi:hover {
  transform: scale(111%);
}

h1 {
  margin-bottom: 10px;
  margin-left: 60px;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 60px; 
}

select {
  font-style: italic
}

select option[value="suomi"], select option[value="kanada"] {
  font-style: normal;
}

.huomautus-vari::placeholder {
  color: red;
}